body {
    margin: 0;
    padding: 0;

    background-color: #222222;
    font-family: Open Sans, sans-serif;;
}

.header {
    width: 100%;
    background-color: #292b2d;
    height: 64px;
    z-index: 999;

    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.32);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.32);
}

.header .logo-header {
    height: 32px;
    padding: 16px;
    display: block;
    float: left;
}

.header-inner-wrapper {
    box-sizing: border-box;
}

.header-inner-wrapper .menu-link.active,
.header-inner-wrapper .menu-link:hover:not(.dropdown) {
    box-sizing: border-box;
    border-bottom: 1px solid white;
}

.header-inner-wrapper .menu-link.active {
    color: white;
}

.header-inner-wrapper .menu-link:hover {
    color: #cdcdcd;
}

.menu {
    float: left;
    margin: 0;
}

.menu li {
    display: inline-block;
}

.header-inner-wrapper .menu-link {
    display: inline-block;
    line-height: 63px;
    padding: 0 10px;
    color: #9b9b9b;
    text-decoration: none;
    transition: color 0.2s, border-bottom 0.2s;
}

.wrapper, .header-inner-wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

.wrapper {
    min-height: 128px;
    padding: 16px;
}

.search-main {
    width: 100%;
    height: 60vh;
    min-height: 500px;
    background: url("/images/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
}

.search-form-wrapper {
    background-color: #292b2d;
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: table;

    border-radius: 5px;
    color: white;

    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
}

.search-form-wrapper h1 {
    text-align: center;
    font-size: 1.5em;
    margin: 10px 0;
    letter-spacing: 0;
    font-weight: normal;
}

.search-box {
    width: 350px;
    margin: 0 10px;
    color: white;
    background-color: #222222;
    border: 1px solid #141414;
    padding: 10px 15px 10px 15px;
    font-size: 1.1em;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.01em;
}

.search-suggestions {
    color: #9b9b9b;
    font-size: 0.8em;
    margin-bottom: 15px;
}

.search-suggestions p {
    text-align: center;
}

.search-suggestions ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.homepage .search-form-wrapper {
    margin-top: -80px;
}

.homepage .wrapper {
    margin-top: -200px;
}

.leaderboard {
    background-color: #292b2d;
    position: relative;
    color: white;

    min-height: 40vh;

    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
}

.table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
    color: white;
}

.table thead {
    background-color: #f96854;
}

.table tr {
    height: 60px;
}

.table tr:hover {
    cursor: pointer;
    background-color: #1f2123;
}

.table thead tr:hover {
    cursor: inherit;
    background-color: inherit;
}

.table tr:not(:first-child) {
    border-top: 1px solid #333537;
}

.table td {
    text-align: center;
}

.table thead.blue {
    background-color: #5e70e4;
}

.skin-image {
    height: 46px;
    border-radius: 999px;
    width: 46px;
}

.search .skin-image {
    margin: 5px 15px 0 15px;
}

.stats {
    z-index: 999;
    position: relative;
    margin-bottom: 25px;
}

.stats table {
    margin: 0 auto;
}

.stats table tr:last-child {
    font-size: 1.1em;
    font-variant: small-caps;
    line-height: 0;
}

.stats table tr:first-child {
    font-size: 1.85em;
    margin: 0;
}

.stats table td {
    min-width: 1%;
    max-width: 350px;
    text-align: center;
    color: white;
}

.sort-icon {
    position: absolute;
    margin-left: 4px;
}

.dropdown-icon {
    margin-left: 4px;
}

.return-icon {
    position: absolute;
    top: 63px;
    right: 18px;
}

.return-icon img {
    height: 24px;
}

.dropdown-menu {
    display: none;
    min-width: 180px;
    position: absolute;
    background-color: #292b2d;
    z-index: 2;
    color: #9b9b9b;
    padding: 15px;
    box-sizing: border-box;
    border-left: 1px solid rgba(30, 30, 30, 0.32);
    border-bottom: 1px solid rgba(30, 30, 30, 0.32);
    border-right: 1px solid rgba(30, 30, 30, 0.32);

    border-radius: 0 0 8px 8px;

    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.32);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.32);
}

.dropdown-menu ul {
    padding: 0;
}

.dropdown-menu ul li {
    line-height: 32px;
    list-style: none;
    display: block;
}

.dropdown-link {
    color: inherit;
    text-decoration: none;
}

.dropdown-link:hover {
    color: #cdcdcd;
}

.visible {
    display: block !important;
}

.container {
    background-color: #292b2d;
    border-radius: 10px;
    color: white;

    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);

    padding: 15px;
}

.container.search {
    margin-top: 15px;
}

.container.search h1 {
    margin: 0 0 15px 0;
}

.search table {
    border-radius: 0;
    margin: 0 -15px -15px -15px;
    width: calc(100% + 30px);
}

.search thead tr {
    line-height: 25px;
    height: 25px;
}

.search td, .search th {
    text-align: left;
}

.search-cond td {
    padding-left: 15px;
}

.search-cond:hover {
    cursor: inherit !important;
    background-color: inherit !important;
}

.user-page {
    margin-top: 45px; /* skin-container overflow */
}

.user-page .line {
    height: 1px;
    background-color: #505050;
    clear: both;
    margin: 0;
}

.user-page-header .skin-container, .user-page-header .user-page-title {
    float: left;
}

.user-page-header {
    position: relative;
}

.user-page-title {
    margin: 0 0 0 15px;
    font-weight: normal;
    font-size: 0.9em;
    display: block;
    position: absolute;
    bottom: -52px;
    left: 135px
}

.last-refreshed {
    position: absolute;
    right: 0;
    bottom: -70px;
}

.user-page-title h1 {
    margin: 0;
}

.user-page-header .skin-container {
    height: calc(60px + 45px); /* .user-page-header height + -margin-top */
    margin-top: -45px;

    overflow: hidden;
    padding-left: 10px;
}

.user-page-header .skin-render {
    height: 256px;
}

.user-page-content {
    margin-top: 15px;
    font-size: 14px;
    width: 100%;
}

.user-page-content .box {
    background-color: #222222;
    border-radius: 5px;
    overflow: hidden;
    padding: 18px;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    margin: 8px 0;
}

.row:first-child {
    margin-top: 0;
}

.row:last-child {
    margin-bottom: 0;
}

.col-md {
    width: 100%;
    margin: 0 8px;
}

.col-md:first-child {
    margin-left: 0;
}

.col-md:last-child {
    margin-right: 0;
}

.box h1 {
    font-size: 1.4em;
    margin: 0;
    text-align: center;
}

.box table {
    margin-top: 10px;
    table-layout: fixed;
    width: 100%;
}

.box table tr {
    line-height: 32px;
}

.box table td {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 50%;
}

.box table td:nth-child(1) {
    font-weight: bold;
}

.skin-icon img {
    width: 32px;
    margin: 0 0 -11px 0;
}

.true {
    color: #4dd3af;
}

.false, .error {
    color: #f59594;
}

.error p {
    text-align: center;
}

.footer {
    margin-top: 25px;
    margin-left: 15px;
    color: white;
    font-size: 12px;
}

.footer p {
    margin: 0;
}

.footer .footer-image, .footer .footer-text {
    display: inline-block;
}

.footer .footer-image {
    margin-right: 10px;
}

.footer .footer-image img {
    width: 128px;
}

.container h1 {
    margin: 0;
}

.faq h1 {
    margin-bottom: 20px;
}

.faq p {
    margin: 0;
}

.faq-q {
    font-weight: bold;
}

.faq-a {
    font-style: italic;
    margin-bottom: 20px !important;
}

.faq-a:last-child {
    margin-bottom: 0 !important;
}

.footer-link {
    color: #c3c3c3;
    text-decoration: none;
}

.footer-link:hover {
    color: inherit;
}

.plainlink {
    color: inherit;
    text-decoration: none;
}

.plainlink:hover {
    color: #c3c3c3;
}

