body {
    margin: 0;
    padding: 0;

    background-color: #222222;
    font-family: Open Sans, sans-serif;;
}

.header {
    width: 100%;
    background-color: #292b2d;
    height: 64px;
    z-index: 999;

    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.32);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.32);
}

.header .logo-header {
    height: 32px;
    padding: 16px;
    display: block;
    float: left;
}

.header-inner-wrapper {
    box-sizing: border-box;
}

.header-inner-wrapper .menu-link.active,
.header-inner-wrapper .menu-link:hover {
    box-sizing: border-box;
    border-bottom: 1px solid white;
}

.header-inner-wrapper .menu-link.active {
    color: white;
}

.header-inner-wrapper .menu-link:hover {
    color: #cdcdcd;
}

.menu {
    float: left;
    margin: 0;
}

.menu li {
    display: inline-block;
}

.header-inner-wrapper .menu-link {
    display: inline-block;
    line-height: 63px;
    padding: 0 10px;
    color: #9b9b9b;
    text-decoration: none;
    transition: color 0.2s, border-bottom 0.2s;
}

.wrapper, .header-inner-wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

.wrapper {
    min-height: 128px;
    padding: 16px;
}

.search-main {
    width: 100%;
    height: 60vh;
    min-height: 500px;
    background: url("/images/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
}

.search-form-wrapper {
    background-color: #292b2d;
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: table;

    border-radius: 5px;
    color: white;

    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
}

.search-form-wrapper h1 {
    text-align: center;
    font-size: 1.5em;
    margin: 10px 0;
    letter-spacing: 0;
    font-weight: normal;
}

.search-box {
    width: 350px;
    margin: 0 10px;
    color: white;
    background-color: #222222;
    border: 1px solid #141414;
    padding: 10px 15px 10px 15px;
    font-size: 1.1em;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.01em;
}

.search-suggestions {
    color: #9b9b9b;
    font-size: 0.8em;
    margin-bottom: 15px;
}

.search-suggestions p {
    text-align: center;
}

.search-suggestions ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.homepage .search-form-wrapper {
    margin-top: -40px;
}

.homepage .wrapper {
    margin-top: -100px;
}

.leaderboard {
    background-color: #292b2d;
    position: relative;
    color: white;

    min-height: 40vh;

    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
}

.leaderboard table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
}

.leaderboard table thead {
    background-color: #f96854;
}

.leaderboard table tr {
    height: 60px;
}

.leaderboard table tr:hover {
    cursor: pointer;
    background-color: #1f2123;
}

.leaderboard table thead tr:hover {
    cursor: inherit;
    background-color: inherit;
}

.leaderboard table tr:not(:first-child) {
    border-top: 1px solid #333537;
}

.leaderboard table td {
    text-align: center;
}

.skin-image {
    margin-top: 6px;
    height: 46px;
    border-radius: 999px;
}

